.btn {
    margin: 0px; 
    border-radius: 1px;
    height:  30px;
    width: 30px;
    background-color: #eee;
}
.board {
    line-height: 0;
}
.mine {
    background-color: #aa0000;
    border-radius: 20px;
}
.safe {
    border-color: #eee;
    background-color: #fff;
}
