.btn {
    margin: 0px; 
    border-radius: 1px;
    height:  30px;
    width: 30px;
    background-color: #eee;
}
.board {
    line-height: 0;
}
.mine {
    background-color: #fff;
    background-image: url("images/bomb.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.flag {
    background-image: url("images/flag.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.safe {
    border-color: #eee;
    background-color: #fff;
    text-align: center;
    padding: 3px;
}
.safe:hover, .safe:active, .safe:focus, .safe:visited, .mine:hover, .mine:active, .mine:focus, .mine:visited, .btn:active, .btn:focus, .btn:visited {
    background-color: #fff;
    border-color: #eee;
}
